<!DOCTYPE html>
<html>
<head>
  <title>Colchonet</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
      <div id="header-wrap">
              <h1><%= link_to "colcho.net", root_path %> </h1>
                  <% if user_signed_in? %>
                              <%= render 'layouts/user_navbar' %>
                    <% else %>
                                <%= render 'layouts/visitor_navbar' %>
                  <% end %>
          </div>
</header>
<div id="main" role="main" style="margin-top:2%">
  <div class="container">
    <div class="content">
      <div class="row">

          <% if notice.present? %>
            <div class="col-md-12">
                  <p id="notice"><%= notice %> </p>
              </div>
          <% end %>
          <% if alert.present? %>
          <div class="col-md-12">
              <p id="alert"><%= alert %> </p>
            </div>
          <% end %>


      </div>
      <div class="row">
        <div class="col-md-12">
          <%= yield %>
        </div>
      </div>
      <footer>
      </footer>
    </div>
  </div> <!--! end of .container -->
</div> <!--! end of #main -->

</body>
</html>
